name: linter&tests

on: 
  push:
    branches:
      - 'main'
    paths:
      - '**.js'
  pull-request:
    branches:
      - 'main'
    paths:
      - '**.js'

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macOS-latest ]
        node: [ 14, 16 ]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: make install
        env: 
          CI: true
      - run: make lint
      - run: make test
      - uses: paambaati/codeclimate-action@v3
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: make test-coverage
          debug: true